
.sfc-btn {
  background: #DA3837;
  color: white;
  box-sizing: border-box;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.08);
  padding: 20px 25px 20px 25px;
  margin-left: 3%;
  cursor: pointer;
  font-family: benton-sans;
  font-weight: normal;
  font-size: 16px;
  margin:2rem 0;
  border:none;
}

h1, h2, h3 {
  font-family: 'benton-sans-wide';
  color:#575757;
  margin-top:1em;
}
h1 {
  font-size:40px;
  font-weight:bold;
  margin:1rem 0 2rem 0;
}
h2 {
  font-weight: 500;
  font-size: 30px;
}
h3 {
  font-size:18px;
  font-weight: bold;
}
p, li {
  font-family:'benton-sans';
  color:#575757;
  font-weight: normal;
  font-size: 18px;
  margin-bottom:0.2rem;
  line-height:1.4em;
}
.p-star {
  font-size:16px;
}
main {
  padding:3%;
}

.row {
  width:100%;
  margin:0 0 20px 0;
}
.row > div {
  padding:10px;
}

.card {
  padding:10px;
  transition: 1s border-color;
}
.card:hover {
  border-color:rgba(0,0,0,.5);
  transition: 1s border-color;
}
.card > a {
  text-align: center;
  width:100%;
}
.card img {
  height:200px;
  object-fit: contain;
  max-width:100%;
}
@media only screen and (max-width : 600px) {

  .title {
    font-size: 26px;
  }

  .subtitle {
    font-size: 23px;
  }

}
