* {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Arial, sans-serif;
	color: black;
	line-height: 140%;
}

body
{
	background-color:#081319;
	padding: 30px;
	font-size: 70%;
	
}

div#menu
{
	margin: 5px auto;
}  


select, input, textarea {
	font-size: 1em;
}

h2
{
	margin-top: 1.2em;
	margin-bottom: 0;
	padding: 0;
	border-bottom: 1px dotted #dedede;
}

h3
{
	margin-top: 1.2em;
	margin-bottom: 0;
	padding: 0;
}

h7 {
	color:#FFF;
}

.example
{
	border: 1px solid #CCC;
	background: #f2f2f2;
	padding: 10px;
}

ul
{
	list-style-image:url(list-style.gif);
}

pre
{
	font-family: "Lucida Console", "Courier New", Verdana;
	border: 1px solid #CCC;
	background: #f2f2f2;
	padding: 10px;
}

code
{
	font-family: "Lucida Console", "Courier New", Verdana;
	margin: 0;
	padding: 0;
}
 
#container
{
}

#gallery
{
	padding: 0px;
	position: relative;
	margin: 0 auto;
	box-shadow: 5px 5px 30px black;
	-webkit-box-shadow: 0px 5px 30px black;
	-moz-box-shadow: 0px 5px 30px black;
		-webkit-border-bottom-left-radius: 5px;
	-khtml-border-radius-bottom-left: 5px;	
	-moz-border-radius-bottomleft: 5px;
	border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-khtml-border-radius-bottom-right: 5px;	
	-moz-border-radius-bottomright: 5px;
	border-bottom-right-radius: 5px;
}

.background
{
	line-height: 0;
	-webkit-border-bottom-left-radius: 5px;
	-khtml-border-radius-bottom-left: 5px;	
	-moz-border-radius-bottomleft: 5px;
	border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-khtml-border-radius-bottom-right: 5px;	
	-moz-border-radius-bottomright: 5px;
	border-bottom-right-radius: 5px;
}

.float
{
	position: relative;
	z-index: auto;
	top: 43px;
	float: right;
	left: 541px;
}

.ad-image-description-left
{
	float: left;
}

.ad-image-description-right
{
	float: right;
	white-space: normal;
}
.ad-image-description-right-tables
{
	float: right;
	white-space: normal;
}

.float
{
	position: absolute;
	z-index: auto;
	float: right;
	left: 830px;	
	transparent: 50%;
}








.thumbnail
{
	position: absolute;
	z-index:121;
	bottom: -77px;
	right: 12px;
}

.thumbnail a
{
	padding-left: 5px;
}

.year
{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	vertical-align: top;
}

ul.menu
{
	width:473px;
	z-index: 200;
	position: absolute;
	right: 0px;
	top: 188px;
	list-style: none;
	padding: 0px;
	margin: 0;
	float: right;
	font-size: 14px;
	margin-top: 30;
	font-weight: bold;
}

ul.menu li
{
	float: left;
	margin: 0;
	width: 300px;
	position: relative;
	clear: both;
	padding-top: 14px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 0px;
}




ul.menu li a
{
	color: white;
	display: block;
	text-decoration: none;
	float: left;
}

ul.menu li ul.submenu
{
	list-style: none;
	position: absolute;
	left: 1em;
	top: 32px;
	margin: 0;
	padding: 0;
	display: none;
	float: left;
}

ul.menu li ul.submenu li
{
	width: 150px;
	margin: 0;
	padding: 0px 0px 0px 5px;
	clear: both;
/*	background-color: none;
*/}

html ul.menu li ul.submenu li a
{
	float: left;
	padding: 3px 0 3px 0;
	color: #FFF;
	font-weight: 0;
}

html ul.menu li ul.submenu li a:hover
{
	color: #4DABE1;
	font-weight: 0;
}


.rightspace {margin-right: 14px;}
.intro {
	position:absolute;
	left: 158px;
	top: 62px;
	width: 463px;
	font-family: Arial, Helvetica, sans-serif;
	color:#fff;
	font-size:11px;

}
.intro em {
	color:#fff;
}

.intro strong {
	color:#fff;
}


.contact {
	position:absolute;
	left: 158px;
	top: 62px;
	width: 490px;
	font-family: Arial, Helvetica, sans-serif;
	color:#fff;
	font-size:11px;

}

.contact h1 {
	color:#fff;
	font-size:12px;
}

.contact p {
	color:#fff;
}

.contact img {
margin-top:5px;
}


.shorts {
	position:absolute;
	left: 158px;
	top: 62px;
	width: 490px;
	font-family: Arial, Helvetica, sans-serif;
	color:#fff;
	font-size:11px;

}
.sponsors {
	margin-bottom: 37px;
	padding-right:4px;
	
}

.sponsors a {
	text-decoration:none;
}

.sponsors img {
	border:none;
	margin-bottom:8px;
}

.return {
	color:#000;
	font-size: 11px;
	text-decoration: underline;
	margin-left: -5px;
	margin-top: 7px;
}

.films {
	margin-bottom: 37px;
	padding-right:4px;
	
}

.films a {
	text-decoration:none;
}

.films img {
	border:none;
	margin-bottom:8px;
	margin-right:10px;
}

.films p {
	padding-right:15px;
}.film_title a, a:visited{color:#4DABE1;}


.film_title{
	color:#4DABE1;
	font-size: 20px;
}.film_title em{color:#4DABE1;}



.film_title strong{
	color:#4DABE1;
}

.sub_title {
	font-size: 13px;
}

.date_time {
	font-size: 13px;
}

.director strong{
	font-size: 10px;
	color: #4DABE1;
	margin-bottom:15px;
}

.paragraph {
	padding-right:20px;
}.paragraph em{color:#fff;}

h4 {font-family: arial; color: #FFF; margin-bottom:-10px;margin-top:0px;}
h4 strong {font-family: arial; color: #4DABE1; margin-bottom:-10px;margin-top:0px;}
h5 {font-family: Helvetica; color: #FFF;margin-top:2px;margin-bottom:10px;}
h5 a{font-family: Helvetica; color: #FFF;margin-top:2px;margin-bottom:10px; text-decoration:none;}