@import url('../Assets/Fonts/benton-sans-font.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

html{
  height: 100%;
  width: 100%;
}

main {
  min-height: 62%;
}

.footer-link:hover {
  color: white;
}

/* ############# Footer Styling ############# */



footer {
  flex: 0 0 auto;
  background-color: #DA3837;
  margin-top: 5%;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  text-decoration: underline;
}

.footer-title {
  padding: 0;
  padding-top: 4vh;
  padding-bottom: 2vh;
  font-family: 'benton-sans-wide';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 123%;
  color: #FFFFFF;
  border: none !important;
}

.footer-subtitle {
  padding-top: 5vh;
  padding-bottom: 3vh;
  font-family: 'benton-sans';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 146.5%;
  color: #FFFFFF;
  text-align: center;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 0;
}

.footer-body {
  padding-bottom: 1vh;
  font-family: 'benton-sans';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 146.5%;
  color: #FFFFFF;
}

.footer-link {
  font-family: 'benton-sans';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 146.5%;
  display: block;
}

.footer-icon {
  padding-top: 30px;
  padding-right: 15px;
}

.footer-icon-container:hover {
  text-decoration: none !important;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  margin-left:3%;
  margin-right:3%;
}

.footer-col {
  display: flex;
  flex-direction: column;
  width: 250px;
  padding:0 15px;
  margin-bottom: 3vh;
}

.footer-double-col {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 425px;
  padding:0 15px;
  margin-bottom: 3vh;
}

.footer-btn {
  background-color: white;
  color: #DA3837;
  cursor: pointer;
  font-family: 'benton-sans';
  font-weight: 600;
  font-size: 16px;
  padding: 15px 35px 15px 35px;
  border:none;
}

@media only screen and (max-width : 700px) {

  .footer-col {
    flex-basis: 100%;
    align-items: flex-start;
    border-bottom: 1px solid #ddd;
    margin: 0;
    padding: 29px 0;
  }

  .footer-double-col {
    flex-basis: 100%;
    align-items: flex-start;
    padding: 29px 0;
    border-bottom: 1px solid #ddd;
    margin: 0;
  }

  .footer-dropdown {
    padding: 120px 0;
    width: 100%;
    text-align: left;
  }

  .footer-dropdown::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
  }

  .footer-link {
    display: block;
  }

  .footerSublinkContainer {
    padding: 15px 0 0 0;
    display: none;
  }

  .footerSublinkContainer a {
    color: #f9f9f9;
  }

  .footer-title {
    padding: 0;
    border: none;
  }

}

@media only screen and (min-width: 701px) and (max-width : 1144px) {

  .footer-double-col {
    flex-basis: 100%;
    align-items: center;
  }

  .footer-col {
    align-items: flex-start;
  }

}

@media only screen and (min-width: 701px) {

  .footer-col {
    align-items: flex-start;
  }

}