@import url('../Fonts/benton-sans-font.css');

:root {
  --nav-height: 82px;
}

body, html {
  display: block;
  height: 100%;
}

main {
  margin: 0 auto;
}

footer {
  position: relative;
  bottom: 0;
}

article {
  min-height: 100%;
  max-width: 2000px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

p {
  font-family: 'benton-sans', sans-serif;
}

a {
  font-family: 'benton-sans', sans-serif;
  color:#DA3837;
  font-weight: bold;
  text-decoration: underline;
}


.footer-row {
  width: 90vw;
  max-width: 1800px;
  margin: 0 auto;
}


.title {
  margin-left: 3%;
  margin-top: 40px;
  margin-bottom: 50px;
  font-family: 'benton-sans-wide';
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  color: #575757;
}

.subtitle {
  margin-left: 3%;
  margin-bottom: 30px;
  font-family: 'benton-sans-wide';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 131.5%;
  color: #575757;
}

.body {
  margin-bottom: 50px;
  margin-left: 3%;
  width: 94%;
  font-family: 'benton-sans';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 136%;
  color: #231F20;
}

.caption {
  margin-left: 3%;
  margin-top: 1vh;
  margin-bottom: 3vh;
  font-family: 'benton-sans';
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 146.5%;
  color: #000000;
}

.trailer {
  width:60vw;
  max-height: 560px;
  margin-left: 3%;
  margin-bottom: 4vh;
}

.theme-image {
  width:50vw;
  /* max-height: 560px; */
  margin-left: 3%;
  margin-bottom: 4vh;
}

.grow { 
  transition: all .2s ease-in-out; 
}
  
.grow:hover { 
  transform: scale(1.05); 
}
@media only screen and (max-width : 1200px) {
:root {
  --nav-height: 78px;
}
  
}
@media only screen and (max-width : 1000px) {

  .body {
    font-size: 17px;
    margin-bottom: 35px;
  }
  
}

@media only screen and (max-width : 800px) {

  .trailer {
    width:90vw;
  }
  
}

@media only screen and (max-width : 600px) {

  .title {
    font-size: 32px;
  }

  .subtitle {
    font-size: 22px;
  }

  .theme-image {
    width:80vw;
  }

}

