@charset "UTF-8";
/* CSS Document */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/****THIS IS WHERE MY CODE STARTS******/

/***color= EA3C2D***/

body{
	font-family: Open Sans, Arial, Helvetica, sans-serif;
}

#main{
	display: block;
	width: 960px;
	margin: 0 auto;
}

h1{
	color: #FFF;
	font-size: 24pt;
	font-weight: 600;
}

h2{
	color: #FFF;
	font-size: 18pt;
}

h3{
	color: #ea422e;
	font-size: 16pt;
}

h4{
	color: #ea422e;
	font-weight: 600;
}

h5{
	color: #ea422e;
}

strong {
	color: #ea422e;
}

p{
	font-size: 11pt;
	line-height: 15pt;
}

#header_b{
	display: block;
	background: #ea422e;
	width: auto;
	
}

#header{
	margin: 0 auto;
	position: relative;
	background: #ea422e;
	width: 960px;
	
}
.cmu{
	padding: 25px 0 0 25px;
}
.iff{
	padding: 10px 0 0 25px;
}

.faces{
	padding: 25px 0 0 25px;
	font-size: 18pt;
}

.media{
	font-size: 25pt;
	font-weight: 600;
	padding: 0 0 10px 25px;
}

.arrow{
	padding: 10px 0 0 0;
}

.date{
	padding: 25px 0 0 25px;
}

#buy{
	
	display: block; 
	width: 225px;
	padding: 0 0 0 25px;
}

#buy a{
	text-decoration: none;
	color: #FFF;
}


#buy img{
	height: 20px;
}

#sponsor{
	display: block;
	width: 225px;
	padding: 0 0 0 25px;

}

#sponsor a{
	text-decoration: none;
	color: #FFF;
}

#sponsor img{
	height: 20px;
}

#festival_image img{
	position: absolute;
	width: 340px;
	padding: 20px 0 0 15px;
}

#left{
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 540px;
}

#right{
	display: inline-block;
	width: 225px;
	color: #FFF;
	margin: 0 0 0 50px;
}

#container{
	display: inline-block;
	margin: 0 auto;
	width: 540px;
	padding: 25px;
}

#guidelines{
	width: 540px;
	padding: 25px 0 0 0;
}

#sidebar{
	display: inline-block;
	vertical-align: top;
	width: 350px;
	padding: 145px 0px 25px 10px;
}

#awards{
	vertical-align: top;
	width: 300px;
	padding:  25px 0 25px 25px;
	border: 3px solid #EA3C2D;
}

#form{
	width: 250px;
	padding:  25px 0 25px 25px;
}

#form img{
	width: 125px;
}

#submission{
	width: 250px;
	padding:  0 0 25px 25px;
}

#contact{
	width: 250px;
	padding: 0 0 25px 25px;
}

#sponsors{
	display: inline-block;
	padding: 0 0 25px 25px;
}

#sponsor1, #sponsor2, #sponsor3{
	display: inline-block;
	width: 200px;
}

#sponsors img{
	width: 150px;
}

#footer{
	height: 25px;
	background: #EA3C2D;
}

