@import url('./fonts/benton-sans-font.css');

:root {
  --primary: #333;
  --primary-old: #DA3837;
  --nav-height: 85px;
  --hover-brightness: 0.9;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'benton-sans', sans-serif;
  font-size: 18px;
}

h1, h2, h3, h4 {
  font-family: 'benton-sans-wide', sans-serif;
  margin-bottom: 1rem;
}

h5, h6 {
  font-weight: bold;
}

p {
  line-height: 1.5em;
}

a {
  color: var(--primary);
}

a:hover {
  color: var(--primary);
  filter: brightness(var(--hover-brightness));
}

* {
  box-sizing: border-box;
}

.container {
  margin: 50px auto;
  padding: 20px;
}
.container.primary-bg-color {
  background: var(--primary);
  color: white;
}

section {
  margin-bottom: 2rem;
}

.btn-primary {
  background: var(--primary);
  border-color:  var(--primary);
}

.btn-primary:active, .btn-primary:hover {
  background: var(--primary);
  border-color:  var(--primary);
  filter: brightness(var(--hover-brightness));

}

.trailer-container {
  width:100%;
  margin:10px 0;
}
.trailer-container iframe {
  width: 100%;
  max-width:560px;
}
