.landingImage {
	width: 100%;
	height: calc(100vh - var(--nav-height));
	background: url('https://cdnb.artstation.com/p/assets/images/images/024/538/827/original/pixel-jeff-clipa-s.gif');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: center;
}