#nav {
	background: white;
	box-shadow: 0 0 10px gray;
	padding: 0 1rem;
}

#nav > .container {
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
}
.navbar-brand {
	padding-bottom: 0;
}
.navbar-brand:hover {
	filter: initial;
}

.nav-item {
	margin: 0.5rem 1rem 0.5rem 0;
}

.topbar {
	background: var(--bg-color);
	color: white;
	text-align: center;
	font-weight: bold;
	padding: 0.2rem;
}

@media only screen and (max-width: 1200px) and (min-width: 992px) {

	.nav-item {
		font-size: 14px;
		margin: 0.5rem 1rem 0.5rem 0;
	}
	.nav-item .btn {
		font-size: 14px;
	}
}
