.filmContainer {
	display: flex;
	flex-direction: row;
	margin: 1rem 0;
	box-shadow: 0px 0px 6px rgb(0 0 0 / 15%);
	width: 100%;
}

.imageContainer {
	width: 30%;
	position: relative;
}
.imageContainer img {
	width: 100%;
}

.aboutContainer {
	width: 70%;
	padding: 1rem 2rem;
}

.dateContainer {
	background: var(--bg-color);
	padding: 1rem 1rem 0.75rem 1rem;
	color: white;
	position: absolute;
	top: 0;
	left: 0;
	width: fit-content;
}

.dateContainer span {
	display: block;
	text-align: center;
	font-weight: bold;
	line-height: 1.2em;
}
.dateContainer span:nth-child(odd) {
	font-size: 0.75rem;
}
.dateContainer span:nth-child(even) {
	font-size: 1.5rem;
}


@media (min-width: 768px) and (max-width: 991px) {

	.aboutContainer {
		padding: 1rem;
	}
	.aboutContainer p {
		font-size: 16px;
	}

}

@media (max-width: 767px) {

	.filmContainer {
		display: flex;
		flex-direction: column;
		margin: 1rem 0;
	}
	.imageContainer {
		width: 100%;
	}

	.aboutContainer {
		width: 100%;
		padding: 2rem 0;
	}

}
