.levelContainer {
	margin: 1rem 0;
}

.sponsorsContainer {
	padding: 1rem 0;
}
.cardContainer {
	padding: 0;
	margin-bottom: 1rem;
	background: var(--bg-color);
}
.card {
	padding: 0.5rem;
}

.cardImage {
	object-fit: contain;
	max-width: 100%;
}
.cardText {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	font-size: 1rem;
	line-height: 1rem;
}