.personContainer {
	display: flex;
	flex-direction: row;
	margin: 1rem 0;
}

.imageContainer {
	width: 30%;
}
.imageContainer img {
	width: 100%;
}

.aboutContainer {
	width: 70%;
	padding-left: 2rem;
}
.aboutContainer p {
	font-size: 16px;
}

.teamNameHeader {
	margin-bottom: 0;
	text-transform: uppercase;
}

@media (max-width: 767px) {

	.personContainer {
		display: flex;
		flex-direction: column;
		margin: 1rem 0;
	}
	.imageContainer {
		width: 100%;
	}

	.aboutContainer {
		width: 100%;
		padding: 2rem 0 1rem 0;
	}
	.aboutContainer p {
		font-size: 1rem;
	}

}
