/*.ticketContainer {
	display: flex;
	flex-direction: row;
	margin: 1rem 0;
	box-shadow: 0px 0px 6px rgb(0 0 0 / 15%);
	align-items: center;
	flex-wrap: wrap;
	padding: 2rem;
}*/

/*.ticketHeaderContainer {
	width: 100%;
	padding-top: 0.5rem;
}*/

.centeredCardContainer {
	background: var(--light-gray);
	color: black;
	padding: 1rem;
	margin-bottom: 1rem;
	border-right: 1px solid var(--bg-color);
}
.centeredCardContainer hr {
	margin-top: 0;
}
.centeredCardContainer h5 {
	margin-bottom: 0;
}

.caption {
	font-style: italic;
}

.imageContainer {
	width: 30%;
}
.imageContainer img {
	width: 100%;
}

.aboutContainer {
	width: 70%;
	padding: 1rem 2rem;
}

.ticketContainer {
	width: 100%;
	display: flex;
	margin: 1rem 0;
}
.ticketContainer div {
	padding-right: 1rem;
	width: 50%;
}

@media (min-width: 768px) and (max-width: 991px) {
	.ticketContainer {
		padding: 1rem;
	}
	.aboutContainer {
		padding: 1rem;
	}
	.aboutContainer p {
		font-size: 16px;
	}

}

@media (max-width: 767px) {

	.ticketContainer {
		display: flex;
		flex-direction: column;
		padding: 0;
		margin: 1rem 0;
	}
	.ticketContainer > div {
		width: 100%;
	}
	/*
	.ticketHeaderContainer {
		padding: 1rem;
		padding-top: 1.5rem;
	}*/
	.imageContainer {
		width: 100%;
	}

	.aboutContainer {
		width: 100%;
		padding: 2rem 1rem 1rem 1rem;
	}

}
